body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

.basic-info {
	margin-bottom: 12%; 
}

.date_div {
	width: 50%;
	float: right;
	padding-right: 15%;
	padding-left: 15%;
}

.subject_div {
	width: 50%;
	float: left;
	padding-right: 15%;
	padding-left: 15%;
}

th {
	text-align: center;
}

td input {
	width: 100%;
}

.common-td {
	text-align: center; 
    vertical-align: middle !important;
}

.separator {
	background-color: #9370DB;
	color: white;
	font-weight: bold;
}

.row-index {
	width: 5%;
}

.download-btn {
	margin-bottom: 10%;
}

.main-container{
	margin-top: 200px;
}

.form-title {
	margin-bottom: 30px; 
}

.btn-disabled {
	pointer-events: none;
    opacity: 0.4;
}


#btn-LE {
	display: block; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: red; /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	margin-bottom: 125px;
	border-radius: 10px; /* Rounded corners */
	font-size: 18px; /* Increase font size */
}

#btn-LE:hover {
	background-color: #555; /* Add a dark-grey background on hover */
}


#btn-UE {
	display: block; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: red; /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	margin-bottom: 65px;
	border-radius: 10px; /* Rounded corners */
	font-size: 18px; /* Increase font size */
}

#btn-UE:hover {
	background-color: #555; /* Add a dark-grey background on hover */
}


#btn-Sense {
	display: block; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: red; /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	border-radius: 10px; /* Rounded corners */
	font-size: 18px; /* Increase font size */
}

#btn-Sense:hover {
	background-color: #555; /* Add a dark-grey background on hover */
}